.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

li {
    text-align: center;
    font-size: 1.5em;
    margin: .1em;
}

.is-centered {
    justify-content: center;
}

body  {
    margin: 0;
}

.slide {
    height: 100vh;
    background: white;
    box-sizing: border-box;
    text-align: center;
}
.slide h1 {
    margin: 0;
    font-size: 3em;
}

.slide-2 {
    height: 100vh;
    background-image: linear-gradient(rgb(15, 87, 160), #1E90FF);
    box-sizing: border-box;
    text-align: center;   
}

.slide-2 h1 {
    margin: 0;
    color: white;
    padding-top: 15px;
    text-align: center;
    font-size: 3em;
}

.slide-2 p {
    padding-top: 5%;
    color: white;
    font-size: 25px;
}


